@import url("normalize.css");

:root {
    /* Root scope - All set-conditions below can be used anywhere in this style-sheet */
    --primary-color: rgb(74, 60, 37);
    --primary-color-light: rgb(54, 54, 54);
    --secondary-color: rgb(214, 132, 0);
    --accent-gradient: rgb(105, 65, 0);
    --text-primary: black;
    --text-secondary: rgb(60, 60, 60);
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, var(--accent-gradient), var(--secondary-color));
}

h3 {
    position: relative;
    top: 10px;
    display: block;
    margin: 0 0 5px 0;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    z-index: 1;
}

input {
    -webkit-transition: box-shadow 250ms ease-out;
    transition: box-shadow 250ms ease-out;
} input::placeholder {
    color: var(--text-secondary);
    font-size: 20px;
} input:hover, input:focus {
    -webkit-box-shadow: 0px 0px 12px var(--secondary-color);
    box-shadow: 0 0 12px var(--secondary-color);
}

#logo {
    width: 9em;
    margin: 0 0 -3.5em 1.5em;
    cursor: pointer;
}

.container {
    position: relative;
    width: fit-content;
    background: var(--primary-color);
    padding: 20px 30px 100px 30px;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.switch {
    position: absolute;
    right: 30px;
    display: flex;
    border-bottom: 1px solid rgb(255, 210, 32);
} .switch.active {
    border-bottom: 1px solid rgba(18, 255, 0, 0.75);
} .switch::after {
    position: absolute;
    content: '';
    width: 52px;
    height: 6px;
    background: rgb(255, 210, 32);
    border-radius: 60px 60px 0 0;
    bottom: 0;
    left: 12px;
} .switch.active:after {
    left: 84px;
    width: 74px;
    background: rgba(18, 255, 0, 0.75);
}

.login {
    padding: 5px 12px;
    background: linear-gradient(45deg, var(--secondary-color), var(--accent-gradient));
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: right;
    font-size: 16px;
    margin-left: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

.signup {
    padding: 5px 12px;
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: right;
    font-size: 16px;
    margin-left: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

.container .outer {
    position: relative;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.outer #form {
    width: 200%;
    position: relative;
    display: flex;
    margin: auto;
    transition: 0.2s ease-in-out;
}

.page {
    margin: auto;
    padding: 0 0 1.5em 0;
    width: 100%;
}

.element {
    position: relative;
    top: 1em;
} .element input {
    width: 80%;
    height: 40px;
    border-radius: 4px;
    margin: 0 0 20px 0;
    color: black;
    border: 1px solid rgb(51, 55, 57);
    padding: 0 0 0 40px;
    font-size: 20px;
    letter-spacing: 1px;
} .element span {
    position: absolute;
    left: 8.5%;
    top: 12px;
} .element .fa-eye, .element .fa-eye-slash {
    cursor: pointer;
    left: 87%;
} .element #email-msg, .element #username-msg, .element #password-msg {
    position: absolute;
    top: 2.75rem;
    font-size: 14px;
}

.fas, .far {
    color: black;
}

.btn {
    position: relative;
    top: 1em;
    padding: 5px 25px;
    background: linear-gradient(45deg, var(--accent-gradient), var(--secondary-color));
    border-radius: 50px;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 2s ease-out;  
    transition: background-color 2s ease-out;        
} .btn:hover, .btn:active {
    transform: scale(1.05);
}
