header.navbar
    div.container.flex
        span#title Tom's Trattoria
        <!-- <img id="navbar-logo" src="" alt="Site Logo"> -->
        nav
            ul
                li
                  a#homebtn(href="/") Home
                li
                  a#reservebtn(href="/reservation") Book a Table
                li
                  a#menubtn(href="") Menu
                li
                  a#contactbtn(href="") Contact Us
                li
                  if isUserLoggedIn(req) 
                    a(href="/user/logout") Log out
                    a(href="/user/profile") My Profile
                  else
                    a(href="/user/loginsignup") Log in/ Sign up