#db-table-container {
    position: relative;
    top: 7em;
    left: 6.5em;
}

#db-table-container table {
    margin: 0.4em 1em 4em 1.25em;
    font-size: 1.2em;
    color: black;
    border: white solid 2px;
}

#db-table-container thead {
    background-color: rgb(184, 148, 88);
    font-weight: bold;
}

#db-table-container tbody {
    background-color: rgb(255, 230, 200);
    font-weight: 400;
    text-align: center;
}

#db-table-container th, td {
    padding: 0.2em 0.75em;
}

