:root {
    --primary-colour: rgb(74, 60, 37);
    --secondary-colour: rgb(114, 71, 0);
}

div.elem-group {
    margin: 20px 0;
}

div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
}

label {
    display: block;
    padding-bottom: 10px;
    font-size: 1.25em;
}

input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    width: 100%;
    padding: 10px;
}

div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
}

textarea {
    height: 250px;
}

hr {
    border: 1px dotted #ccc;
}

button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    border: 2px solid black;
}

td {
    padding: 4px 10px;
    font-size: 18px;
}

#reservation-form {
    position: relative;
    top: 7em;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

#details-container {
    max-width: fit-content;
    position: relative;
    top: 8.5em;
    left: 9em;
    padding: 1em 2em;
    background-color: var(--secondary-colour);
}

.detail-value {
    font-family: 'Noto Sans', sans-serif;
    padding: 0 0 0 2em;
}